/* ====================================== */

.cont {
  font-size: x-large;
}

.brand {
  font-size: 64px;
  color: white;
}

.tag{
  font-size: 32px;
  color: gray;
}

/* ====================================== */

.searchengine {
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  padding: 24vh;
}

.searchbar {
  padding: 15px;
}

/* ====================================== */

.eachimage {
  margin: 15px;
  width: 32vh;
  height: 48vh;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
}

.eachimage1 {
  margin: 15px 15px 15px 0px;
  width: 28vh;
  height: 42vh;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
}

.eachimage:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.onecard {
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
}

.card {
  border: 0px;
  display: inline-block;
}

/* ====================================== */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  background-color: grey;
  height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: black;
}

/* ====================================== */

@media screen and (max-width: 800px) {
  .onecard {
    text-align: center;
    border: 0px;
    margin-bottom: 15px;
    display: block;
  }
  .searchengine {
    padding: 5vh;
  }
  .boxcontain {
    padding-left: 18px;
  }
  .brand {
    font-size: 32px;
    color: white;
  }
  
  .tag{
    font-size: 16px;
    color: gray;
  }
}

@media screen and (max-width: 365px) {
  .onecard {
    text-align: center;
    border: 0px;
    margin-bottom: 15px;
    display: block;
  }
  .searchengine {
    padding: 2vh;
  }
  .boxcontain {
    padding: 12px;
  }
  .brand {
    font-size: 32px;
    color: white;
    text-align: center;
  }
  
  .tag{
    font-size: 16px;
    color: gray;
    text-align: center;
  }
}

/* ====================================== */
