body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Sofia Sans', sans-serif;
}

::-webkit-scrollbar{
  background-color: white;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: grey;
}